
<table class="table  table-hover">
    <thead>
      <th>New Customers</th>
      <th>Budget Sales</th>
      <th>Actual Sales</th>
      <th>Orders Received</th>
      <th>Orders Delivered</th>
    </thead>
           <tr >
             <td> {{cust_YTD|number}} </td>
             <td> {{budget_sales_YTD|currency}} </td>
             <td> {{actual_sales_YTD|currency}} </td>
             <td> {{orders_received_YTD|currency}} </td>
             <td> {{orders_delivered_YTD|currency}} </td>
          </tr>

</table>
