<h2> Sales Total </h2>
Chart View &nbsp;<mat-slide-toggle (click)="changeVisibility()" id="chartView">Table view</mat-slide-toggle>
   <div [hidden]="isVisible" class="d3-chart" id="chart"></div>
   <div [hidden]="!isVisible">
   <table class="table  table-hover">
     <thead>
       <th>Month</th>
       <th>Sales</th>
       <th>Expense</th>
     </thead>
            <tr *ngFor="let cd of data">
              <td> {{cd.date|date:"MM/yyyy"}}  </td>
              <td> {{cd.sales|number}} </td>
              <td> {{cd.expense|number}} </td>
             </tr>
            </table>
   </div >



