
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <app-pie-chart *ngIf="salesData" [data]="salesData"></app-pie-chart>
        </div>
        <div class="col-sm-6">
            <app-sales-chart *ngIf="salesData" [data]="salesData"></app-sales-chart>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"> col-sm </div>
        <div class="col-sm">
         <!-- <app-chart-data></app-chart-data> -->
         <app-area-chart *ngIf="salesData" [data1]="salesData"></app-area-chart>
        </div>
        <div class="col-sm-2">col-sm</div>
      </div>
  </div>
